# Binaries
**/bin/
!thirdparty/premake/bin/
bin-int/
build/
build.zip

# Victoria files
*.log
*.json
*.vic
*.ini
Victoria/thirdparty/VulkanSDK

# Visual Studio files and folder
.vs/
.vscode/
.VSCodeCounter/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Project Generation
Makefile
scripts/__pycache__ 

#Temporary
# Victoria/thirdparty/assimp/

#Games
MineTime/
BoostRocket/
