# Binaries
**/bin/
!thirdparty/premake/bin/
bin-int/

# Victoria files
*.log
*.json
*.vic

# Visual Studio files and folder
.vs/
.vscode/
.VSCodeCounter/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Project Generation
Makefile
